@model SimpleCalculator.Models.Calculator

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Our Web app is great!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            @* <div asp-validation-summary="All" class="text-danger"></div> *@
            <div class="form-group">
                <label asp-for="FirstNumber" class="control-label"></label>
                <input asp-for="FirstNumber" class="form-control" />
                <span asp-validation-for="@Model.FirstNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondNumber" class="control-label"></label>
                <input asp-for="SecondNumber" class="form-control" />
                <span asp-validation-for="@Model.SecondNumber" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label class="control-label col-3">Future Value:</label>
                <input value="@ViewBag.Result" readonly class="form-control col-3" />
            </div>
            <div class="form-group">
                <input type="submit" asp-action="index" class="btn btn-primary" />
                <button type="submit" name="operation" value="Add" class="btn btn-primary">Add</button>
                <button type="submit" name="operation" value="Mul" class="btn btn-primary">Multiply</button>
                <button type="submit" name="operation" value="Sub" class="btn btn-primary">Subtract</button>
                <button type="submit" name="operation" value="Div" class="btn btn-primary">Divide</button>
            </div>
        </form>
    </div>
